#Файл с настройками бота
#Для использования переименовтать в bot_settings.py
#Данные бота для инициализации. Получить можно тут - https://twitchtokengenerator.com/
ACCESS_TOKEN = ""
REFRESH_TOKEN = ""
CLIENT_ID = ""
#Список каналов на которых будет работать бот
INITIAL_CHANNELS = []
#Список каналов на которых допустимы ссылки для бота
ALLOW_URL = []
#Префикс перед командами
PREFIX = '!'

#Информационные команды для разных каналов
telegrams = {
    "channelName": "message"
}

boostys = {
    "channelName": "message"
}

vks = {
    "channelName": "message"
}

donats = {
    "channelName": "message"
}

#Список пользоватлей для некоторых системных команд
white_list = [] 