#channel name
CHANNEL_NAME = ""

#emotes url
EMOTES_URL =  "http://127.0.0.1:8000"

#twitch, 7tv, ffz, bttv
PROVIDER = "twitch"

#db connection string
DB_CONN_STR = ""

#output file
OUT_FILE = "emotes_top.csv"