#Имя канала
CHANNEL_NAME = ""

#emotes url
EMOTES_URL =  "http://127.0.0.1:8000"

#twitch, 7tv, ffz, bttv
PROVIDER = "twitch"

#Строка подключения к БД
DB_CONN_STR = ""

#Выходной файл
OUT_FILE = "emotes_top.csv"